as-product {

  .product {
    max-width: $album-art-width;
    margin-bottom: 15px;

    img {
      height: 186px;
      width: 186px;
    }

    .caption {

      margin-top: 10px;

      h1, h2 {
        margin: 0px;
        padding: 0px 0px 5px 0px;
      }

      h1 {
        color: $text-color;
        font-size: 1em;
      }

      h2 {
        color: $text-color-light;
        font-size: 0.8em;
      }
    }
  }
}