as-shopping-cart {

  .shopping-basket {

    text-align: center;
    min-width: 350px;
    padding: 5px;

    ul {
      list-style: none;
      padding: 0;

      li.product {
        margin: 1px ;
        display: flex;
        height: 62px;
        justify-content: space-around;

        .albumArt, .info, .pricing, .action {
          flex-grow: 0;
          align-self: center;
        }

        .albumArt {
          img {
            width: 62px;
            height: 62px;
          }
        }

        .info {
          margin: 0 5px 0 5px;
          flex-grow: 1;
        }

        .pricing {
          text-align: right;
          min-width: 60px;
        }
        .action {
          margin-right: 5px;
          color: $brand-danger;

          a {
            &.remove {
              color: inherit;
            }
          }
        }

      }

    }

    .total {
      text-align: right;
    }

    .checkout {
      width: 100%;
    }
  }
}