<a href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-shopping-cart"></i> Shopping Cart ({{shoppingCartVm.model.products.length}})
    <span class="caret"></span>
</a>
<div class="dropdown-menu shopping-basket">
    <span class="empty-basket" ng-if="!shoppingCartVm.model.products.length">Empty Basket</span>

    <div ng-if="shoppingCartVm.model.products.length">
        <ul>
            <li class="product" ng-repeat="product in shoppingCartVm.model.products track by $id(product.sku)">
                <div class="action">
                    <a class="remove" href="javascript:void(0)" ng-click="shoppingCartVm.removeProduct(product)"><i class="fa fa-remove"></i></a>
                </div>
                <div class="albumArt">
                    <img class="album-art" ng-src="{{::product.albumArt}}" alt="">
                </div>
                <div class="info">
                    <strong>{{::product.albumTitle}}</strong> - {{::product.artist}}
                </div>
                <div class="pricing">
                    <as-price price="product.price"></as-price>
                </div>
            </li>
        </ul>
        <div class="total">
            <span>Total:</span>
            <span><as-price price="shoppingCartVm.model.total"></as-price></span>
        </div>
        <button class="btn btn-primary checkout"><i class="fa fa-credit-card"></i> Checkout</button>
    </div>
</div>