.product-detail {

  nav {
    &.breadcrumb {
      background-color: transparent;
      padding-left: 0px;

      > ul {
        list-style: none;
        margin: 0px;
        padding: 0px;

        li {
          float: left;

          &:after {
            @extend .fa;
            content: '\f105';
            padding: 0px 5px;
          }

          &:last-child:after {
            content: '';
          }

        }
      }
    }
  }

  img {
    height: 186px;
    width: 186px;
  }

  h1 {
    margin-top: 0;
  }

  .track-list {
    padding-left: 30px;

    li {

      border-bottom: 1px solid $border-color;
      margin-bottom: 10px;

      .name {
        font-weight: bold;
      }
      .duration {
        float: right;
      }
    }
  }

  .caption {
    margin-top: 10px;
    max-width: $album-art-width;

    button {
      width: 100%;
    }
  }
}