@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap.scss";
@import "../../../bower_components/fontawesome/scss/font-awesome.scss";
@import "colors";
@import "vars";
@import "directive/as-product";
@import "directive/as-shopping-cart";
@import "product-detail";


html, body {

  > .container {
    margin-top: 60px;
  }
}


.navbar-default .navbar-nav > li > as-shopping-cart {
  line-height: 20px;
  position: relative;
  display: block;
  padding: 15px 15px;

  a, a:visited, a:active {

    color: $text-color-light;
    text-decoration: none;

    &:hover {
      color: $text-color-dark;
    }
  }
}

a, a:visited, a:active {

  color: $text-color-light;
  text-decoration: none;

  &:hover {
    color: $text-color-dark;
    text-decoration: underline;
  }
}