<div ng-controller="ProductDetailController as productDetailVm" class="product-detail">
    <nav class="breadcrumb">
        <ul >
            <li><a href="#/shop">Shop</a></li>
            <li><a href="#/shop">Metal</a></li>
            <li><a href="#/shop">Iron Maiden</a></li>
        </ul>
    </nav>
    <div class="row">
        <div class="col-md-3 col-lg-3">
            <img class="album-art" ng-src="{{::productDetailVm.model.product.albumArt}}" alt="">
            <div class="caption">
                <button class="btn btn-default buy-button" ng-click="productDetailVm.addToCart()">
                    <as-price price="productDetailVm.model.product.price"></as-price> <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
        </div>
        <div class="col-md-9 col-lg-9">
            <h1>{{::productDetailVm.model.product.albumTitle}}</h1>
            <ol class="track-list">
                <li ng-repeat="track in productDetailVm.model.product.tracks track by $index">
                    <span class="name">{{::track.name}}</span>
                    <span class="duration">{{::track.duration}}</span>
                </li>
            </ol>
        </div>
    </div>
</div>