<div class="product">
    <a href="#/product/{{productVm.product.sku}}">
        <img class="album-art" ng-src="{{::productVm.product.albumArt}}" alt="">

        <div class="caption">
            <h1>{{::productVm.product.albumTitle}}</h1>
            <h2>{{::productVm.product.artist}}</h2>
        </div>
    </a>
    <button class="btn btn-default btn-xs buy" ng-click="productVm.addToCart()"><as-price price="productVm.product.price"></as-price> <i
            class="fa fa-shopping-cart"></i></button>
</div>